<header role="banner" class="post banner post m-header scene_element scene_element--fadeindown">
    <div class="headroom-container">
        <div class="content-wrapper overlay">

            {{#if @site.logo}}
            <div class="wrapper logo">
                <a class="logo-motivate" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            </div>
            {{/if}}
            <div class="wrapper menu-icon">
                <img id="menu-icon" src="{{asset 'images/menu-icon.svg'}}">
            </div>
            {{navigation}}

        </div>
    </div>
</header>