{{!< default}}
{{> header_home }}
<!-- START main-home -->
<div class="main-home post-loop-container scene_element scene_element--fadeinright">
    <div class="landing">
        <div class="content-wrapper wrapper">
                <h1 class="blog-title">
                    <a title="{{@blog.title}}" href='{{@blog.url}}'>
                    {{{@blog.title}}}
                    </a>
                </h1>
                {{#if @blog.cover}}
                <div class="wrapper blog-cover-wrapper row">
                    <img class="blog-cover" src="{{@blog.cover}}">
                </div>
                {{/if}}
                <h2 class="blog-description">
                    <a title="{{@blog.title}}" href='{{@blog.url}}'>
                    {{@blog.description}}
                    </a>
                </h2>
                <div class="stage">
                    <img id="icon-arrow" class="bounce" src="{{asset "/images/icon-arrow.svg"}}">
                </div>
        </div>
    </div>
    <main class="home post-loop" role="main">
        {{#foreach posts limit="5"}}
            <article class="post" role="article" itemscope itemtype="http://schema.org/Article">
                <header class="post-header">
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='MMM DD,  YYYY'}}</time>
                    <h1 class="post-title" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
                </header>
                <div class="post-content" itemprop="articleBody">
                    {{content words="150"}}
                </div>
                {{#if tags}}
                <div class="post-tags">
                    Tags: {{tags separator=" | "}}
                </div>
                {{/if}}
            </article>
        {{/foreach}}
    </main>
    {{> footer}}
</div>