{{!< default}}
{{> header}}
<div class="post scene_element scene_element--fadeinup">
<main role="main">
    {{#post}}
    <article class="post" role="article" itemscope itemtype="http://schema.org/Article">
    <header>
        <time class="date" dgit@github.com:rob-dalton/motivate-ghost-theme.gitatetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='MMM DD, YYYY'}}</time>
        <h1 class="post-title" itemprop="headline">{{title}}</h1>
    </header>
    <div class="post-content" itemprop="articleBody">
    {{content}}
    </div>
    {{#if tags}}
    <div class="tags">
    Tags: {{tags separator=" | "}}
    </div>
    {{/if}}
    <footer>
        {{#if primary_author}}
        <address itemscope itemtype="http://schema.org/Person">
        {{#if primary_author.profile_image}}
        <div class="author-image">
            <img src="{{primary_author.profile_image}}" itemprop="image" />
        </div>
        {{/if}}
        <div class="author-name">
            Written by <span itemprop="author">{{primary_author.name}}</span>
        </div>
        {{#if primary_author.website}}
        <div class="author-website">
            <a href="{{primary_author.website}}" itemprop="url">{{primary_author.website}}</a>
        </div>
        {{/if}}
        </address>
        <div class="author-bio">
            <p>{{primary_author.bio}}</p>
        </div>
        {{/if}}
        <div class="share-container">
            <h4>Share this post: &nbsp;</h4>
            <a class="icon icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><img src="{{asset 'images/icon_facebook.svg'}}" alt="Facebook"></a>
            <a class="icon icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><img src="{{asset 'images/icon_twitter.svg'}}" alt="Twitter"></a>
        </div>
    </footer>
</article>
{{/post}}
{{#if pagination}}
<div class="pagination">
{{{pagination}}}
</div>
{{/if}}
</main>
{{> footer}}
</div>
